
  .h1 {
  text-align: center;
  font-size: 22px;
}
  .n{
font-style: italic;
}
  .inf{
text-align: center;

  }
      .list-item-odd {
        background-color: lightgrey;
        color: black;
      }

      .list-item-even {
        color: black;
      }

      .list-item-third,
      .list-item-fifth {
        cursor: pointer;
      }

      .list-item-fourth {
        background-color: Aquamarine;
      }
